<div class="page-header">
    <h1>Add Contact</h1>
</div>

<form>
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Phone Number</label>
            <input type="text" id="phoneNumber" class="form-control">
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Address</label>
            <input type="text" id="address" class="form-control">
        </div>

    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="name" class="control-label">Email Address</label>
            <input type="text" id="emailAddress" class="form-control">
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Website</label>
            <input type="text" id="website" class="form-control">
        </div>

        <div class="form-group">
            <label for="name" class="control-label">Notes</label>
            <input type="text" id="notes" class="form-control">
            <span class="help-block">Any additional information about the contact.</span>
        </div>

    </div>
  </div>

  <div class="form-group">
    <div>
        <input type="submit" class="btn btn-primary" value="Add Contact">
    </div>
</div>
</form>